.main-wrapper {
	position: relative;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;

	header,
	footer { flex-shrink: 0; }
	.inner-wrapper { flex-grow: 1; }
}

.db { display: block; }
.dib { display: inline-block; }
.ttu { text-transform: uppercase; }
.f { display: flex; }
.fcl { flex-direction: column; }

.fc {
	display: flex;
	align-items: center;
}

.fl {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fw100 { font-weight: 100; }
.fw500 { font-weight: 500; }
.fw900 { font-weight: 900; }

.tac { text-align: center; }
.tar { text-align: right; }

@for $i from 1 through 6 {
	.mb#{$i} { margin-bottom: 8px * $i; }
	.mr#{$i} { margin-right: 8px * $i; }
}

@import "classes/subtitle.scss";
@import "classes/animated.scss";

.page-enter-active,
.page-leave-active { transition: opacity 0.2s; }

.page-enter,
.page-leave-active { opacity: 0; }
