.main-wrapper {
	position: relative;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;

	header,
	footer { flex-shrink: 0; }
	.inner-wrapper { flex-grow: 1; }
}

.container {
	margin: 0 auto;
	max-width: 1920px;
}

.db { display: block; }
.dib { display: inline-block; }
.ttu { text-transform: uppercase; }
.f { display: flex; }
.fcl { flex-direction: column; }

.fc {
	display: flex;
	align-items: center;
}

.fl {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.posr { position: relative; }

.fw100 { font-weight: 100; }
.fw300 { font-weight: 300; }
.fw500 { font-weight: 500; }
.fw900 { font-weight: 900; }

.tac { text-align: center; }
.tar { text-align: right; }

@for $i from 1 through 6 {
	.mb#{$i} { margin-bottom: 8px * $i; }
	.mr#{$i} { margin-right: 8px * $i; }
}

@for $i from 1 through 6 {
	.pb#{$i} { padding-bottom: 8px * $i; }
}

@import "classes/subtitle.scss";
@import "classes/animated.scss";

.back-text {
	font-weight: 900;
	font-size: 200px;
	line-height: 156px;
	text-transform: uppercase;
	opacity: 0.05;

	&--absolute {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		max-width: 464px;
	}
}

.section {
	padding: 96px 0;
	background-position: right 200px;
	background-size: auto;
	background-repeat: no-repeat;

	&--travel { background-position: bottom right; }
}

.page-enter-active,
.page-leave-active { transition: opacity 0.2s; }

.page-enter,
.page-leave-active { opacity: 0; }
