html {
	// colors
	--color-main: hsl(179, 65%, 29%);
	--color-text: hsl(174, 11%, 33%);
	--color-text--bg: hsl(174, 11%, 33%);
	--color-text-helper: hsl(0, 0%, 31%);
	--color-hover: hsl(176, 51%, 56%);
	--color-link: hsl(177, 42%, 34%);
	--color-link-hover: hsl(176, 51%, 56%);
	--color-title: hsl(177, 24%, 18%);
	--color-icon: hsl(176, 42%, 42%);
	--color-border: hsl(166, 91%, 63%);
	--color-error: hsl(0, 58%, 58%);
	--color-border-light: hsl(180, 14%, 83%);
	--color-modal: hsl(225, 13%, 49%);
	--color-bg-secondary: hsl(180, 24%, 96%);
	--color-bg-icon: hsl(176, 42%, 42%);
	--color-bg-main: hsl(179, 65%, 29%);
	--color-light: hsl(0, 0%, 100%);
	--color-bg-light: hsl(0, 0%, 100%);
	--color-dark: hsl(0, 0%, 0%);
	--color-bg-body: hsl(180, 4%, 9%);
	--color-bg-blind: hsl(0, 0%, 0%);

	// Gradients
	// --gradient-main: linear-gradient(130.72013189013455deg, var(--color-main) 2.927083333333334%, hsl(183, 55%, 47%) 97.84374999999999%);
	--gradient-main: linear-gradient(135deg, hsl(183, 48%, 55%) 49%, hsl(183, 58%, 46%) 100%);

	// Font
	--font-size: 16px;
	--font-size-h1: 2.2rem;
	--font-size-h2: 1.8rem;
	--font-size-h3: 1.4rem;
	--font-size-h4: 1.3rem;
	--font-size-h5: 1rem;
	--font-size-h6: var(--font-size);
	--line-height: 1.5;
	--font-family--default: "Fira Sans", arial, sans-serif;

	// border
	--border-radius: 8px;
	--isImgShow: block;
	--letter-spacing: normal;
}

// Breakpoints
// $break_xs: 425px;
// $break_sm: 576px;
// $break_md: 768px;
// $break_lg: 992px;
// $break_xl: 1200px;
// $break_xll: 1366px;
// $break_xxxl: 1528px;
// $font-size: 16;
